<section class="hero">
  <h1>Crowdfunding</h1>
  <p>
    Transforming digital fndraising and volunteer management, empowering schools 
    <br>to reach more donors and raise more money.
  </p>
  <a href="#">Get Started Today!</a>
</section>
